# Node dependencies
node_modules/

# Docusaurus build output
build/
.docusaurus/

# Cache
.cache/
.tmp/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# IDEs & editors
.idea/
.vscode/
*.swp

# macOS
.DS_Store

# Windows
Thumbs.db

# Coverage
coverage/

# Turbo / Nx
.turbo/
.nx/
